.container {
    width: 50vw;
    max-width: 1200px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
    height: 50vh;
}

.container__flexItem {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.container__slotsElement {
    margin: 1em;
    text-transform: uppercase;
}

.lettersGuessed {}