@import url('https://fonts.googleapis.com/css?family=Kalam|Titillium+Web');

html,
body {
    height: 100vh;
}

body {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-image: url("../images/background-tall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60vw;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    opacity: 0.8;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
    height: 50vh;
}

.container__flexItem {
    flex: 1;
    display: flex;
    justify-content: space-around;
    font-family: 'Kalam', sans-serif;
}

.container__slotsElement {
    margin: 1em;
    text-transform: uppercase;
}

.container__header {
    font-family: 'Kalam', sans-serif;
}

.lettersGuessed__element {
    margin: 1em;
    text-transform: uppercase;
}

.container__lettersGuessedHeader {
    margin: 0;
    flex: 0;
    padding: 0;
}